:root {
    --deubg: 1px solid #2d3436;
}
[data-debug="self"],
[data-debug="each"] > *,
[data-debug="*"] * {
    &, &[debugging="on"] {
        outline: var(--deubg);
    }
}
[data-debug-self="off"],
[data-debug-each="off"] > *,
[data-debug-all="off"] * {
    outline: none;
}